<section class="slider">

	<figure class="slider__slide slider__slide-{{$index + 1}}"
		ng-repeat="image in slider"
		ng-show="$parent.selected == '{{$index + 1}}'">

	</figure>
	<div class="slider__controls">
		<div class="slider__btn slider__btn-{{$index + 1}}"
			ng-repeat="image in slider" >

			<input type="radio" id="slider-control-{{$index + 1}}" name="sliderControl"
				ng-model="$parent.selected"
				ng-value="{{$index + 1}}">

			<label for="slider-control-{{$index + 1}}"></label>
		</div>
	</div>
</section>
