.slider
	height: 27vw
	+position(relative)

	&__slide
		+position(absolute, 0px 0px 0px 0px)
		margin: 0
		+size(100% 27vw)
		+display(block)
		overflow: hidden

		&-1
			background-image: url('../data/images/img-1.jpg')

		&-2
			background-image: url('../data/images/img-2.jpg')

	&__controls
	 	+position(absolute, null null 0 50%)
	 	+transform(translateX(-50%))


