.slider
	height: 20vw
	+position(relative)

	&__slide
		+position(absolute, 0px 0px 0px 0px)
		margin: 0
		+display(block)
		overflow: hidden
		background:
            size: cover
            repeat: no-repeat
            position: center center

		&-1
			background-image: url('../data/images/img-1.jpg')

		&-2
			background-image: url('../data/images/img-2.jpg')

	&__controls
	 	+position(absolute, null null 0 50%)
	 	+transform(translateX(-50%))


